.AddTask{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
    background-color: rgb(156, 76, 163);
}
.addField{
    display: flex;
    width: 70%;
}
.addField{
    margin: 1%;
}
h1{
    color: rgba(8, 2, 22, 0.911);
}